.review-index-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    max-width: 1000px;
    margin: 10px auto auto auto;
}

.avg-rating {
    margin-left: 15px;
}
