.product-index-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    height: 90vh;
    /* TODO monitor height with footer */
}

.splash-backdrop {
    width: 100%;
    height: 150px;
    background-color: #F8EBE6;
    margin: auto auto -100px;
    padding-top: 20px;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
}
