.cart-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100vw;
    height: 90vh;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    gap: 5px;
}

.cart-header {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}
