.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #f9f9f9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
}

.review-input-label {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .1px;
    line-height: 18px;
}

.review-form-header {
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.review-form-input {
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.review-form-button {
    width: 90%;
    margin-top: 10px;
    border: none;
    border-radius: 6em;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 18px;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

.review-form-button:hover {
    background-color: rgb(47, 47, 47);
    scale: 1.01;
    transition: 0.2s all ease-in-out;
}

.error-list {
    list-style: none;
    padding: 0;
}

.error-list li {
    color: red;
}

.new-review-button {
    width: 80%;
    margin-top: 10px;
    border: none;
    border-radius: 6em;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 12px 18px;
    overflow: hidden;
}

.new-review-button:hover {
    background-color: rgb(47, 47, 47);
    scale: 1.01;
    transition: 0.2s all ease-in-out;
}
