.cart-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 10px 1px lightgray;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
}

.cart-prod-name {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.cart-prod-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 8px;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.cart-prod-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.9em;
    height: 100%;
    padding-top: 5%;
    gap: 2%;
}

.cart-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2%;
    padding-right: 5px;
}

.cart-item-total-price {
    font-size: .9em;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.cart-prod-price {
    font-size: .6em;
    font-weight: 400;
    margin-left: 10px;
    height: 100%;
}


.cart-prod-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.remove-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    font-size: .6em;
    color: red;
    cursor: pointer;
}

.quantity-select {
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 3px;
}
