.cart-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 30%;
    width: 90%;
    border: 1px solid darkgray;
    /* background-color: rgba(255, 248, 200, 0.276); */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px lightgray;
}

.cart-prod-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
}

.cart-prod-price {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
}

.cart-prod-img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
}

.cart-item-quantity {
    font-size: 0.9em;
    margin-left: 10px;
}

.cart-item-options {
    font-size: 0.9em;
    margin-left: 10px;
}

.remove-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    margin: 1% 0 0 2%;
    font-size: .6em;
    color: red;
}
