.cat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px;
    font-size: 10px;
    width: 100vw;
    max-width: 1000px;
}

.cat-links {
    color: #333;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s ease-in-out;
    width: 100%;
    padding-bottom: 5px;
    min-width: 40px;
    text-align: center;
}

.cat-links.active {
    color: #888;
}

.cat-links:hover {
    border-bottom: 2px solid #333;
}
