.cart-button {
    cursor: pointer;
    border-radius: 50%;
    padding: 6px 9px;
    border: none;
    transition: background-color 0.1s ease-in-out;
    background-color: white;
}

.cart-button:hover {
    background-color: rgb(226, 226, 226);
}
