.cart-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.cart-button {
    cursor: pointer;
    border-radius: 2em;
    padding: 6px;
    border: none;
    transition: background-color 0.5s ease-in-out;
    background-color: white;
    position: relative;
}

.cart-button:hover {
    background-color: rgb(226, 226, 226);
}

.cart-count {
    background-color: #faa077;
    color: black;
    border-radius: 50%;
    border: 2px solid white;
    padding: 3px 3px;
    font-size: 0.8em;
    margin-top: -10px;
    position: absolute;
    top: 6px;
    left: 22px;
    min-width: 10px;
    min-height: 10px;
    text-align: center;
}
