/* Basic setup for different containers */
.prod-show-container,
.img-carousel-container,
.thumbnails-container,
.prod-img-container,
.prod-info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.prod-show-container {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding-top: 70px;
}

.thumbnails-container {
    flex-direction: column;
    margin: 10px;
}

.prod-img-container {
    flex: 1;
    width: 600px;
    height: 600px;
}

.prod-info-container {
    flex: 1;
    padding-left: 20px;
    flex-direction: column;
    max-width: 30%;
}

/* Font styling */
.prod-price {
    font-weight: bold;
    font-size: 1.7em;
}

.prod-name {
    font-size: 1.2em;
    color: #333;
}

.prod-desc,
.prod-cat {
    font-size: 1em;
}

/* Thumbnail styling */
.thumbnail,
.carousel .thumbs-wrapper .thumb {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.4;
}

.thumbnail.selected,
.carousel .thumbs-wrapper .selected {
    border-color: black;
    opacity: 1;
}

.thumbnail:hover {
    opacity: 1;
}

/* Carousel styles */
.carousel .slide {
    background: none;
}

.carousel-main-img {
    max-width: 600px;
    max-height: 600px;
    border-radius: 2%;
    object-fit: contain;
}

.carousel.carousel-slider .control-arrow {
    height: 60px;
    width: 60px;
    top: calc(50% - 30px);
    background: white;
    border-radius: 50%;
    overflow: hidden;
}

.carousel .control-next.control-arrow:before {
    border-left: 16px solid black;
}

.carousel .control-prev.control-arrow:before {
    border-right: 16px solid black;
}

.carousel .control-next.control-arrow:hover:before {
    border-left-color: lightgrey;
}

.carousel .control-prev.control-arrow:hover:before {
    border-right-color: lightgrey;
}

.carousel .carousel-status {
    display: none;
}

.carousel .carousel-slider {
    display: flex;
}

.carousel .thumbs-wrapper {
    position: relative;
    width: 100px;
    order: -1;
    overflow-y: auto;
    height: auto;
}

.carousel .thumbs {
    flex-direction: column;
}


/* Select-Size */

.select-size {
    transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
    appearance: none;
    box-shadow: 0 1px 6px 0 rgba(34,34,34,.15);
    display: block;
    font-family: inherit;
    font-size: 16px;
    height: 35px;
    padding-left: 12px;
    padding-right: 36px;
    width: 100%;
    border-radius: 6px;
    background: #fff;
    border-color: rgba(34,34,34,.15);
    border-style: solid;
    border-width: 1px;
    color: #222;
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
    box-sizing: border-box;
}
