.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    border-bottom: 2px solid lightgray;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 2em;
    align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0 10px;
    background-color: white;
    color: black;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: smaller;
}

.navbar button:hover {
    background-color: lightgray;
}

.navbar button:visited {
    color: black;
}

.profile-button {
    cursor: pointer;
    background-color: #fff;
    border-radius: 2em;
    border: none;
    transition: background-color 0.5s ease-in-out;
}

.sign-in {
    cursor: pointer;
    background-color: #fff;
    border-radius: 2em;
    padding: 6px;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.profile-button:hover:before,
.profile-button:hover:after {
    transform: scaleX(0.7) scaleY(0.7) perspective(1px);
}

.navbar button:hover,
.profile-button:hover {
    background-color: rgb(229, 229, 229);
}

@keyframes slideDownFromTop {
    from {
        transform: translateY(0%);
        opacity: 0;
    }
    to {
        transform: translateY(10%);
        opacity: 1;
    }
}

.profile-container {
    position: relative;
}

.profile-menu {
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 1px 5px black;
    position: absolute;
    animation: slideDownFromTop 0.5s ease-out forwards;
}

.profile-menu li {
    border-bottom: 1px solid #f2f2f2;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.profile-menu li:last-child {
    border-bottom: none;
}

.profile-menu li:hover {
    background-color: #f2f2f2;
}

.first-name {
    text-align: center;
    padding: 12px 8px;
    border-radius: 8px;
}

.profile-link {
    padding: 12px 8px;
    border-radius: 8px;
    white-space: nowrap;
}

.logout-button {
    padding: 12px 23px;
    border: none;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: inherit;
}

.login button {
    min-width: 40px;
    font-size: smaller;
}

.search-container {
    display: flex;
    border: 2px solid #222;
    border-radius: 96px;
    box-shadow: none;
    background: rgba(0,0,0,0);
    background-color: rgb(247, 245, 245);
    width: 70%;
}

.searchbar {
    flex-grow: 1;
    padding-left: 18px;
    padding-right: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 96px 0 0 96px;
    background: transparent;
    color: gray;
}

.searchbar:focus {
    outline: none;
    background-color: white;
}

.searchbar:focus + .search-button {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.search-button {
    border: none;
    border-radius: 0 96px 96px 0;
    background: transparent;
    cursor: pointer;
    padding-right: 1.5em;
    padding-left: 1em;
}

.searchbar:focus + .search-button .search-icon {
    color: white;
}

.search-button .search-icon {
    color: black; /* default color of search icon */
    transition: color 0.3s ease-in-out;
}

.logo-image {
    width: 90px;
    height: 40px;
}

.logo-button {
    padding-top: 10px;
    padding-left: 20px;
}
